* {
    main-bg:            #091620B3;
    main-fg:            #CCE9FFE6;
    main-br:            #6C7266E6;
    main-ex:            #305861E6;
    select-bg:          #F0C8AA80;
    select-fg:          #523B29E6;
}
